* {
    box-sizing: border-box;
}

.left {
    background-color: lightskyblue;
    padding: 20px;
    float: left;
    width: 20%; /* the width is 20%, by default */
}

.main {
    background-color: rgb(175, 206, 238);
    padding: 20px;
    float: left;
    width: 60%; /* the width is 60%, by default */
}

.right {
    background-color: lightskyblue;
    padding: 20px;
    float: left;
    width: 20%; /* the width is 20%, by default */
}

/* use a media query to add a breakpoint at 800px */
@media only screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%; /* the width is 100%, when the viewport is 800px or smaller */
    }
    .text-center {
        text-align: center;
    }
}